#map {
  width: 800px;
  height: 600px;
  background: lightgray;
  position: relative;
  
}
#map div:first-child{
  background: url('../image/food.jpg');
}
#map div:not(:first-child){
  background: url('../image/snake.jpg');
}